{{!-- filter --}}
<form action="/filter" method="POST">
  <select id="filterSelect" class="form-control mt-4" name="category" onchange="this.form.submit()">
    <option disabled selected>請選擇</option>
    {{#each categories}}
    <option value="{{ this.name }}" name="{{this.name}}" {{#if ( eq ../category this.name ) }} selected {{/if}}>
      {{this.name}}</option>
    {{/each}}
  </select>
</form>

{{!-- totalAmount --}}
<div class="total d-flex">
  <h5 class="mt-4 ml-3">總金額：</h5>
  <p class="mt-5 ml-5 totalAmount"> {{ totalAmount }}</p>
</div>

{{!-- expenses list --}}
<table class="table" id="expenses-list">
  {{!-- <thead>
    <tr>
      <th scope="col">類別</th>
      <th scope="col">名稱</th>
      <th scope="col">日期</th>
      <th scope="col">金額</th>
      <th scope="col">管理</th>
    </tr>
  </thead> --}}
  <tbody>
    {{#each records}}
    <tr>
      <th class="icon align-middle" rowspan="2"><i class="{{ this.icon }} fa-2x"></i></th>
      <th>{{this.name}}</th>
      <th class="amount align-middle" rowspan="2">{{this.amount}}</th>
      <th class="management align-middle" rowspan="2">
        <a class="btn btn-success m-2" href="./expenses/{{ this._id }}/edit">Edit</a>
        <button type="button" class="btn btn-danger" id="delete-button" data-toggle="modal" data-target="#deleteModal" data-id="{{ this._id }}">
          Delete
        </button>
        {{!-- <form action="./expenses/{{ this._id }}/?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form> --}}
      </th>
    </tr>
    <tr>
      <td>{{this.date}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- buttons --}}
<a class="btn btn-outline-info btn-block mb-3" id="createButton" href="./expenses/create">Create Expense</a>

{{!-- delete modal --}}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wanring</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        確定要刪除此筆支出嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <form id="delete-submit" action="" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- delete modal dataset --}}
<script>
  const expensesList = document.querySelector('#expenses-list')
  const deleteSubmit = document.querySelector('#delete-submit')
  expensesList.addEventListener('click', function deleteButtonClicked() {
    if (event.target.matches('#delete-button')) {
      const id = event.target.dataset.id
      deleteSubmit.action = `./expenses/${id}/?_method=DELETE`
    }
  })
</script>