<h4>This is index page! 老爸的私房錢</h4>

{{!-- 類別 filter --}}
<form action="/filter" method="POST">
  <select class="form-control" name="category" onchange="this.form.submit()">
    <option disabled selected>請選擇</option>
    {{#each categories}}
    <option value="{{ this.name }}" name="{{this.name}}" {{#if ( eq ../category this.name ) }} selected {{/if}}>
      {{this.name}}</option>
    {{/each}}
  </select>
</form>

<h4 class="mt-5 totalAmount">總金額： {{ totalAmount }}</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">日期</th>
      <th scope="col">名稱</th>
      <th scope="col">類別</th>
      <th scope="col">金額</th>
      <th scope="col">管理</th>
    </tr>
  </thead>
  <tbody>
    {{#each records}}
    <tr>
      <td>{{this.date}})</td>
      <td>{{this.name}}</td>
      <td>{{this.category}}</td>
      <td>{{this.amount}}</td>
      <td>
        <a class="btn btn-success" href="./expenses/{{ this._id }}/edit">Edit</a>
        <form action="./expenses/{{ this._id }}/?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a class="btn btn-outline-info" href="./expenses/create">Create</a>