{{!-- filter --}}
<form action="/filter" method="POST">
  <select id="filterSelect" class="form-control mt-4" name="category" onchange="this.form.submit()">
    <option disabled selected>請選擇類別</option>
    {{#each categories}}
    <option value="{{ this.name }}" name="{{ this.name }}" {{#if ( eq ../category this.name ) }} selected {{/if}}>
      {{ this.name }}</option>
    {{/each}}
  </select>
  <div>
    <input type="month" id="yearMonth" class="d-inline-block col-5 mr-1" name="yearMonth" min="2001-01" max="2100-12"
      value="{{inputMonth}}" onchange="this.form.submit()">
    <a href="/" id="reset-button" class="btn btn-info">清除條件</a>
  </div>
</form>

{{!-- totalAmount --}}
<div class="total d-flex">
  <h5 class="mt-4 ml-3">總金額：</h5>
  <p class="mt-5 ml-5 totalAmount"> {{ totalAmount }}</p>
</div>

{{!-- expenses list --}}
<table class="table" id="expenses-list">
  <tbody>
    {{#each records}}
    <tr>
      <th class="icon align-middle" rowspan="2"><i class="{{ this.icon }} fa-2x"></i></th>
      <th>{{this.name}}</th>
      <th class="amount align-middle" rowspan="2">{{this.amount}}</th>
      <th class="management align-middle" rowspan="2">
        <a class="btn btn-success m-2" href="./expenses/{{ this._id }}/edit">Edit</a>
        <button type="button" class="btn btn-danger" id="delete-button" data-toggle="modal" data-target="#deleteModal"
          data-id="{{ this._id }}">
          Delete
        </button>
      </th>
    </tr>
    <tr>
      <td>{{this.date}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- buttons --}}
<a class="btn btn-outline-info btn-block mb-3" id="createButton" href="./expenses/create">Create Expense</a>

{{!-- delete modal --}}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wanring</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        確定要刪除此筆支出嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <form id="delete-submit" action="" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- delete modal dataset --}}
<script src="/javascripts/deleteModalFunction.js"></script>